language: cpp
dist: bionic
compiler: gcc

before_install:
  # Codecov
  - sudo pip install codecov

script: 
  - qmake
  - make --silent
  - ./travis_qmake_gcc_cpp14_gcov
  # Codecov
  - ./get_code_cov >/dev/null
  - codecov >/dev/null

after_success:
  # Codecov
  - bash <(curl -s https://codecov.io/bash)
